In [1]:
import pandas as pd
import sqlite3

In [2]:
#https://www.kaggle.com/mathurinache/nft-tweets
nft_df = pd.read_csv('NFT_tweets.csv')

In [3]:
nft_df.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,Crazino.eth,Singapore,NFT collector,2021-03-14 20:57:40+00:00,75,472,664,False,2021-11-14 15:54:50+00:00,@Kwebbelkop @Hor1zon_Project #NFT #NFTs #BlueC...,"['NFT', 'NFTs', 'BlueChipNFT']",Twitter Web App,False
1,NFT Drops,NaN,Mint 50 NFTs in an #Ethereum block to appear h...,2021-08-09 12:06:48+00:00,151,1,2,False,2021-11-14 15:54:48+00:00,üî•üî•üî• HOT #NFT DROP ALERT üî•üî•üî• \n\n5 mints for NF...,['NFT'],jpgdrops,False
2,Laercio Macho,NaN,Paz amor e alegria vivo um dia por vez o amanh...,2021-08-03 17:57:09+00:00,59,1435,1047,False,2021-11-14 15:54:48+00:00,@GuildFiGlobal I AM HAPPY TO PARTICIPATE \n@se...,NaN,Twitter Web App,False
3,Jillmarkin,NaN,NaN,2014-03-27 18:21:20+00:00,816,124,101948,False,2021-11-14 15:54:48+00:00,@cowesion The metamask experience #xecturkey #...,"['xecturkey', 'XEC', 'NFT']",Twitter for Android,False
4,huck wirtz,NaN,"Digital artist, senior animator at ILMxlab",2021-03-18 22:22:43+00:00,3301,3871,17248,False,2021-11-14 15:54:47+00:00,üî•‚öîÔ∏è‚öîÔ∏èüêÆ‚öîÔ∏è‚öîÔ∏èüî•¬†Part of the lands of Mootopia #nft...,"['nft', 'rpg', 'cardgame', 'nft', 'rpg']",Twitter for iPhone,False

In [4]:
#top 10 users with most tweets
nft_useractivity_df = nft_df['user_name'].value_counts()
nft_useractivity_df.head(10)

Kaloh.eth/tez        167
ACALICOO             138
AVNR | OpenSea       109
vidhuraghavan.eth     94
Da World is Mine      92
MegaBigWinüçÄ           73
Emran Hosen           67
Fatemeh_ashoobian     59
Nolbert Art NFT       58
NFT7 Studio           47
Name: user_name, dtype: int64

In [5]:
#reference: https://stackoverflow.com/questions/36028759/how-to-open-and-convert-sqlite-database-to-pandas-dataframe

# Create your connection.
#cnx = sqlite3.connect('nfts.sqlite') #https://www.kaggle.com/simiotic/ethereum-nfts
#nft_names_df = pd.read_sql_query("SELECT * FROM nfts", cnx)

In [6]:
#nft_names_df.to_csv('nfts.csv', index=False)

                                      address                name   symbol
0  0xF4ee95274741437636e748DdAc70818B4ED7d043      The Doge Pound    DOGGY
1  0xba30E5F9Bb24caa003E9f2f0497Ad287FDF95623  BoredApeKennelClub     BAKC
2  0x7403AC30DE7309a0bF019cdA8EeC034a5507cbB3          Characters     CHAR
3  0x511372B44231a31527025a3D273C1dc0a83D77aF       Maps Restored      MAP
4  0x2E956Ed3D7337F4Ed4316A6e8F2EdF74BF84bb54        Neon Junkies  JUNKIES

In [8]:
#https://www.kaggle.com/simiotic/ethereum-nfts
nft_names_df = pd.read_csv('nfts.csv')

In [ ]:
nft_names_df.head()